{% extends 'base.html.twig' %}

{% block title %}Translate{% endblock %}

{% block body %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}
