<footer class=" flex bg-[#121833] justify-evenly py-8">

    <div class="flex flex-col">
        <h3 class="text-[30px] text-WBgreen mb-4">Menu</h3>
        <ul class="text-[24px] font-extralight">
            <li>What we do</li>
            <li>New nomadic lab device</li>
            <li>Scientific validation</li>
            <li>Who we are</li>
            <li>Studies and services</li>
        </ul>
    </div>

    <div class="flex flex-col">
        <h3 class="text-[30px] text-WBgreen mb-4">Book a demo</h3>
        <ul class="text-[24px] font-extralight">
            <li>We meet ?</li>
        </ul>
    </div>

    <div class="flex flex-col ">
        <h3 class="text-[30px] text-WBgreen mb-4">Contact us</h3>
        <div class="flex">
            <img src="{{ asset("images/Groupe 21.svg")}}" alt="phone icon" with="55" height="55">
            <span class="inline-block text-[24px] font-extralight self-center ml-2">+33 6 71 66 24 26</span>
        </div>
    </div>

</footer>